// ### Primary

$moderateViolet: hsla(263, 55%, 52%, 1);
$veryDarkGrayishBlue: hsla(217, 19%, 35%, 1);
$veryDarkBlackishBlue: hsla(217, 30%, 14%, 1);
$white: hsla(0, 0%, 100%, 1);

// ### Neutral

$lightGray: hsla(0, 0%, 81%, 1);
$lightgrayishBlue: hsla(210, 46%, 95%, 1);

// ### Font

$primaryFont: "Barlow Semi Condensed", sans-serif;

$fw-500: 500;
$fw-600: 600;

$fs-13: 13px;
$fs-20: 20px;

// ### Borders

$borderPurple: hsla(0, 0%, 100%, 0.3);
$borderGray: hsla(0, 0%, 100%, 0.3);
